.goods{
    width: 80%;
    /*height: 100%;*/
    /*background: aquamarine;*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative ;
    left: 18%;

}

.product{
    width: 200px;
    height: 250px;
    /*background: orangered;*/
    margin: 5px;
text-align: center;

}
.product:hover{
   outline: solid 2px grey;
}

.product img{
    width: 150px;
    height: 180px;
    margin-top:15px;
    background: aquamarine;

}